.message_input {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

textarea {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    border: 5px solid #a4d799;
    margin-bottom: 20px;
    height: 100%;
    margin-right: 10px;
}

textarea:focus {
    outline: none;
}

.button {
    background-color: #a4d799;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 10px -5px black;
}

.button:focus {
    outline: none;
}