.my_posts {

}

.new_post {

}

.new_post_title {

}

.posts img {
    width: 50px;
}

.item a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    margin-right: 10px;
}
