.dialogs {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_list {
}

.dialogs_list ul {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    border-right: solid 2px #a4d799;
    padding-right: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.messages ul {
    width: 80%;
}

.messages_item {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
}


.messages_item div {
    box-sizing: border-box;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    text-align: right;
    background-color: rgba(164, 215, 153, 0.45);
}

li.active a {
    background-color: #88d56c;
    box-shadow: 0 0 20px -5px black;
}